__pycache__/astar.cpython-36.pyc
__pycache__/astar.cpython-37.pyc
__pycache__/genetic.cpython-36.pyc
__pycache__/genetic.cpython-37.pyc
__pycache__/io_utils.cpython-36.pyc
__pycache__/io_utils.cpython-37.pyc
__pycache__/solver.cpython-37.pyc
